---
import { NotionRender } from "@vargtech/notion-render";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import {
  getClient,
  getTextFromRichText,
  getTitle,
} from "@vargtech/notion-utils";

const databaseId = "c66e310f7a554c0382270e68a9444682";
const pageId = "a109803d15b948b191ceabf2acf63200";

const [database, databasePages, page, pageBlocks] = await Promise.all([
  getClient(import.meta.env.NOTION_TOKEN).getDatabase(databaseId),
  getClient(import.meta.env.NOTION_TOKEN).getDatabasePages(databaseId),
  getClient(import.meta.env.NOTION_TOKEN).getPage(pageId),
  getClient(import.meta.env.NOTION_TOKEN).getBlocksWithChildren(pageId),
]);
---

<Layout title="Hello notion">
  <main>
    <h1>
      <span class="text-gradient">{getTextFromRichText(database.title)}</span>
    </h1>
    {
      databasePages.map((page) => (
        <Card title={getTitle(page)} body="TODO" href="#" />
      ))
    }

    <section>
      <h2>
        Render <span class="text-gradient">{getTitle(page)}</span>
      </h2>
      <NotionRender blocks={pageBlocks} />
    </section>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  </style>
</Layout>
