@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://scottspence.com/posts/change-text-highlight-colour-with-tailwind-css */
::selection {
  /* color: hsl(var(--pc)); */
  background: hsl(var(--p));
}

.fade-in {
  animation: fadeIn 0s;
  animation-timing-function: ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
